.app-title {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  padding-bottom: 3vh;
  border-bottom: 1px solid #000000;
}

.task-card {
  margin: 10px;
  width: 400px;
  transition: all 0.3s ease;
}

.add-task-card {
  margin: 10px;
  width: 400px;
}

.task-card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-board {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  background-color: gray;
  color: aliceblue;
  color: black;
  padding-top: 20px;
  width: 500px;
  height: 80vh;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.task-manager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.fetch-display {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test {
  background-color: aqua;
}
