html,
body,
#app {
  height: 100%;
}
.app-title {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 3vh;
  border-bottom: 1px solid #000000;
  color: white;
  background-color: #283739;
}

#root {
  height: 100%;
  background-color: white;
}

.card {
  background-color: yellow;
  margin: 10px;
  width: 400px;
  transition: all 0.3s ease;
}

.card-title {
  display: flex;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.add-task-card {
  margin: 10px;
  width: 400px;
}

.task-card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-board {
  display: flex;
  flex-direction: column;
  background-color: #283739;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 500px;
  min-height: 80vh;
  align-items: center;
}

.backlog {
  color: #e00543;
}

.in-progress {
  color: #228896;
}

.done {
  color: #a9c52f;
}

.task-manager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.fetch-display {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test {
  background-color: aqua;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  padding-bottom: 4vh;
}
